@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $accent-saturated;
}

.card {
  margin: 250px auto 0;
  color: $secondary-saturated;
  width: 92.5%;
  max-width: 750px;

  &__tab {
    &__wrapper {
      display: flex;
    }

    & {
      $tab-border-radius: 1.15rem;

      display: inline-block;
      padding: 0.35em 1em;
      background-color: $accent;
      border-radius: $tab-border-radius $tab-border-radius 0 0;
      font-size: 1.5rem;
      color: $light;
      text-align: center;
      text-decoration: none;
      user-select: none;
      transition: all 150ms ease;

      @media screen and (max-width: 600px) {
        font-size: 1.25rem;
        padding: 0.35em 0.75em;
      }

      &:hover {
        cursor: pointer;
      }

      &:not(#{&}--active):hover {
        background-color: mix($accent, $light, 75);
      }
    }

    &--active {
      background-color: $light;
      color: $accent;
    }
  }

  &__body {
    position: relative;
    font-size: 1.25rem;
    background-color: $light;
    padding: 0.8em 1.2em;
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    line-height: 140%;
    overflow: hidden;
    transition: all 350ms ease;

    @media screen and (max-width: 600px) {
      font-size: 1.15rem;
    }
  }

  &__section {
    & {
      position: absolute;
      top: 0;
      left: 0;
      padding: inherit;
      transition: all 150ms 350ms ease-in-out;
    }

    &:not(#{&}--active) {
      opacity: 0;
      transition: all 150ms ease-out;
    }
  }
}
